@import url("./styles/products.css");
@import url("./styles/layouts.css");
@import url("./styles/inputs.css");
@import url("./styles/models.css");
@import url("./styles/swiper.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-h1 font-bold;
    /* Mobile size with bold weight */
  }

  h2 {
    @apply text-h2 font-bold;
  }  

  h3 {
    @apply text-h3 font-bold;
  }

  h4 {
    @apply text-h4 font-bold;
  }

  h5 {
    @apply text-h5 font-bold;
  }


  /* Repeat for h4, h5, h6 if needed */
}

#root {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:hover {
  opacity: 0.8;
  animation: opacity 1s ease-out;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.primary-button,
.secondary-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.primary-button {
  background-color: #e6d65f;
}

.primary-button:focus,
.primary-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.secondary-button {
  background-color: #eae9e3;
}

.disable {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  touch-action: none;
}